[Unit]
Requires=ax25.service netrom.target
After=ax25.service
Before=netrom.target

[Service]
Type=oneshot
EnvironmentFile=-/etc/radio/radio.env
EnvironmentFile=-/etc/radio/netrom-%i.env
ExecStartPre=systemctl is-active ax25.service
ExecStart=nrattach $NRATTACH_OPTIONS %i
RemainAfterExit=true
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
