[Unit]
ConditionPathExists=%E/direwolf/direwolf-%i.conf

[Service]
Type=exec
Environment=DIREWOLF_CONFIG=%E/direwolf/direwolf-%i.conf
EnvironmentFile=-%E/direwolf/direwolf.env
EnvironmentFile=-%E/direwolf/direwolf-%i.env
ExecStartPre=/bin/bash %E/direwolf/direwolf-amixer.sh
ExecStart=/bin/bash %E/direwolf/direwolf-service-helper.sh
Restart=on-failure

[Install]
WantedBy=default.target
