[Unit]
ConditionPathExists=%E/direwolf/direwolf.conf

[Service]
Type=exec
Environment=DIREWOLF_CONFIG=%E/direwolf/direwolf.conf
EnvironmentFile=-%E/direwolf/direwolf.env
ExecStartPre=/bin/sh %E/direwolf/direwolf-amixer.sh
ExecStart=/usr/bin/direwolf -t 0 -p -c ${DIREWOLF_CONFIG}
Restart=on-failure

[Install]
WantedBy=default.target
