[Unit]

[Service]
Environment=RIG_DEVICE=/dev/rig
Environment=RIG_MODEL=2035
ENvironment=RIG_LISTEN_ADDR=127.0.0.1
EnvironmentFile=-%E/rigctl/rigctl.env
Type=exec
ExecStart=/usr/bin/rigctld -m $RIG_MODEL -T $RIG_LISTEN_ADDR -r $RIG_DEVICE
ExecStartPost=/usr/bin/timeout 30 sh -c 'while ! rigctl -m2 _; do sleep 1; done; exit 0'
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
