[Unit]
Description=AX.25 service
Requires=direwolf.service
After=direwolf.service

[Service]
Type=forking
EnvironmentFile=/etc/radio/radio.env
EnvironmentFile=/etc/radio/ax25.env
ExecStart=/usr/libexec/radio/ax25-service-helper.sh ${AX25_TTY} ${AX25_PORT} ${AX25_SPEED}

# There is a race condition when starting up direwolf and ax25 in parallel;
# the /tmp/kisstnc symlink may not be available immediately.
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
