[Unit]
Description=AX.25 ax25d service
Requires=ax25.service
After=ax25.service

[Service]
Type=exec
EnvironmentFile=/etc/radio/radio.env
EnvironmentFile=/etc/radio/ax25.env
ExecStart=/usr/sbin/ax25d -l
Restart=on-failure

[Install]
WantedBy=default.target
