[Unit]
ConditionPathExists=/etc/radio/direwolf.conf

[Service]
Type=exec
User=radio
EnvironmentFile=/etc/radio/radio.env
EnvironmentFile=/etc/radio/direwolf.env
ExecStart=/usr/libexec/radio/direwolf-service-helper.sh
ExecStopPost=/bin/rm -f /tmp/kisstnc
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
