[Unit]
ConditionPathExists=/etc/radio/direwolf.conf
Wants=dev-radio.device tncaudio.service
After=dev-radio.device tncaudio.service

[Service]
Type=exec
User=radio
EnvironmentFile=/etc/radio/radio.env
EnvironmentFile=-/etc/radio/direwolf.env
ExecStart=/opt/radio/direwolf-run.sh
ExecStopPost=/opt/radio/direwolf-cleanup.sh
TimeoutStopSec=30s

Restart=on-failure
RestartSec=5

[Install]
WantedBy=radio.target
