[Unit]
Wants=dev-bus-usb-001-004.device
After=dev-bus-usb-001-004.device
ConditionPathExists=/etc/radio/direwolf.conf

[Service]
Type=oneshot
EnvironmentFile=/etc/radio/radio.env
EnvironmentFile=-/etc/radio/soundcard.env
ExecStart=/opt/radio/tncaudio.sh

[Install]
WantedBy=radio.target
